<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/logo/57px.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/logo/512px.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>de.frudat.KVKDash</string>
				<key>bundle-version</key>
				<string>1.4</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>KVKDash</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-41759CF4-602C-4295-94DB-F090719B0035.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-0CA0C715-1CD2-46BE-9D35-3C6D85935DDF.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad4,9</string>
						<string>iPad5,3</string>
						<string>iPad4,1</string>
						<string>iPad4,6</string>
						<string>iPad6,8</string>
						<string>iPad6,7</string>
						<string>iPad4,3</string>
						<string>iPad4,8</string>
						<string>iPad7,6</string>
						<string>iPad5,2</string>
						<string>iPad4,5</string>
						<string>iPad5,4</string>
						<string>iPad6,11</string>
						<string>iPad7,5</string>
						<string>iPad4,2</string>
						<string>iPad5,1</string>
						<string>iPad4,7</string>
						<string>iPad6,12</string>
						<string>iPad4,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-CA4671AA-7D83-40BF-B135-8AAD30A47BC7.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone7,1</string>
						<string>iPhone8,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-CAC9C214-7F6D-41C5-812C-9C31E9AD23E6.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-0DDA6DAF-D925-458B-A231-D1D3F3F4AA5B.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-23FD043C-31FB-47CC-87AC-F954F735D4E6.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,6</string>
						<string>iPhone10,2</string>
						<string>iPhone11,4</string>
						<string>iPhone10,6</string>
						<string>iPhone10,5</string>
						<string>iPhone11,2</string>
						<string>iPhone9,4</string>
						<string>iPhone10,3</string>
						<string>iPhone9,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-F38A89F6-AB20-4DE0-A329-07D00E1DA1A4.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-2CDCF16F-B2CF-49CA-B96A-BDBA3F77EED3.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-101C61C5-4070-4E1D-A2FC-D65788611D5F.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-79EAFDE6-D8C7-46FB-BA4C-0A1CBB94DC15.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-E076595E-4E2A-4EC0-B428-79409C75067E.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad8,1</string>
						<string>iPad8,6</string>
						<string>iPad7,4</string>
						<string>iPad8,3</string>
						<string>iPad7,1</string>
						<string>iPad8,8</string>
						<string>iPad6,4</string>
						<string>iPad8,5</string>
						<string>iPad7,3</string>
						<string>iPad8,2</string>
						<string>iPad8,7</string>
						<string>iPad6,3</string>
						<string>iPad8,4</string>
						<string>iPad7,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-C161488A-7B03-430F-A535-AC6FB8BF7757.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone9,1</string>
						<string>iPhone10,1</string>
						<string>iPhone10,4</string>
						<string>iPhone9,3</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-F9C401FC-CD13-4D85-8202-84CE9B7B5FB4.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,8</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-94BA34B4-7B93-4477-B70E-FE92B8AC8F60.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone13,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone13,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone13,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone13,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,5</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone13,1</string>
						<string>iPhone13,3</string>
						<string>iPhone12,5</string>
						<string>iPhone12,3</string>
						<string>iPhone13,4</string>
						<string>iPhone13,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-0AD97B67-9A05-4E56-A2C9-3152A7F292C1.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone12,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-361DA604-2F3A-4A6E-B204-97909872E09D.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,11</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,12</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,7</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad11,7</string>
						<string>iPad11,6</string>
						<string>iPad7,12</string>
						<string>iPad7,11</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-AA5CC68E-FFE4-4532-9783-896EAEC402D0.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,8</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone12,8</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-D401FA5A-1282-459B-8355-E30CE33B3F9A.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad11,3</string>
						<string>iPad11,2</string>
						<string>iPad11,1</string>
						<string>iPad11,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-4F2A6FC0-A480-4283-8A21-D2B93D7D5EC2.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPod9,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-7C65675A-F5AF-4949-862D-C4BAAC50C276.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,12</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad13,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>MacFamily20,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad13,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,10</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,11</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,10</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,9</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,9</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad8,12</string>
						<string>iPad8,11</string>
						<string>iPad8,9</string>
						<string>MacFamily20,1</string>
						<string>iPad13,2</string>
						<string>iPad8,10</string>
						<string>iPad13,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>de.frudat.KVKDash</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://medas-landingpage.vercel.app/apps/ios/v1.4/KVKDash-F553A664-F3D0-4932-BA73-29C36965F1F7.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone8,4</string>
						<string>iPhone6,2</string>
						<string>iPhone7,2</string>
						<string>iPhone8,1</string>
						<string>iPod7,1</string>
						<string>iPhone6,1</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
