.form {
  max-width: 400px;
}

@media (max-width: 600px) {
  .form {
    max-width: 100%;
  }
}

.control {
  margin-top: 1rem;
}

.hint {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.input {
  width: 100%;
  padding: 0.8rem;
  color: var(--color-text);
  background: var(--color-gray6);
  border: 1px solid var(--color-gray5);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover,
  &:focus,
  &:active {
    border-color: var(--color-primary);
  }
}

.button {
  float: right;
  padding: 0.8rem;
  color: var(--color-text);
  background: var(--color-primary);
  border: 0;
  border-radius: 10px;
}
