.form {
  max-width: 400px;
}

@media (max-width: 600px) {
  .form {
    max-width: 100%;
  }
}

.control {
  margin-top: 1rem;
}

.hint {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover,
  &:focus,
  &:active {
    color: #8a85ff;
    border-color: #8a85ff;
  }
}

.button {
  float: right;
  padding: 0.8rem;
  color: #ffffff;
  background: #8a85ff;
  border: 0;
  border-radius: 10px;
}
